* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0a3871;
}

.header {
  background-color: #041b38;
  color: #ffffff;
  padding: 15px;
}

#input {
  background-color: #0a3871;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

#textarea-input {
  width: 80%;
  font-family: 'Inter', sans-serif;
  background: transparent;
  text-align: center;
  font-size: 26px;
  color: #ffffff;
  resize: none;
  border: 0 none;
  outline: none;
}

#textarea-input::placeholder {
  color: #ffffff;
}

#output {
  background-color: #ffffff;
  color: #0a3871;
  text-align: center;
  font-size: 14px;
}

#textarea-output {
  width: 80%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  background: transparent;
  color: #0a3871;
  resize: none;
  border: 0 none;
  outline: none;
  display: none;
}

#textarea-output::placeholder {
  color: #0a3871;
}

.footer {
  background-color: #041b38;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

button {
  background-color: #0a3871;
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#boton-encriptar,
#boton-copiar {
  background-color: #0a3871; 
  color: #ffffff; 
  border: 1px solid #ffffff;
}

#boton-desencriptar {
  background-color: #ffffff; 
  color: #0a3871; 
  border: 1px solid #ffffff;
}

#boton-encriptar:hover,
#boton-copiar:hover {
  background-color: #041b38;
  color: white;
}

#boton-desencriptar:hover {
  background-color: #041b38;
  color: white;
}

#boton-copiar {
  display: none;
  width: 100%;
}

#textos {
  font-size: 16px;
}

#texto1 {
  font-weight: 700;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  align-items: center;
  padding-bottom: 2rem;
}

#imagen {
  display: none;
}


[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {

  #imagen {
    display: inline;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}